{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false
}